body{
    background-color: black;
}
svg{
    background-color: #cfcfcf;
}
.outer{
    padding-top: 20px;
    text-align: center;
    width:1200px;
    height: 800px;
    margin: 50px auto;
    background-color: white;
}
.graph {
    text-align: center;
    margin-top: 30px;
}
.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.node image {
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}
.title{

    font-size: 30px;
}